In [1]:
import numpy as np
import pandas as pd

In [5]:
data = {
    "Date": [
        "2025-01-05", "2025-01-10", "2025-01-15", "2025-01-18", "2025-01-22",
        "2025-01-25", "2025-02-01", "2025-02-07", "2025-02-10", "2025-02-14",
        "2025-02-20", "2025-02-23", "2025-02-27", "2025-03-02", "2025-03-05"
    ],
    "Type": [
        "Deposit", "Withdraw", "Deposit", "Withdraw", "Deposit",
        "Withdraw", "Deposit", "Withdraw", "Deposit", "Withdraw",
        "Deposit", "Withdraw", "Deposit", "Withdraw", "Deposit"
    ],
    "Amount": [
        1500.00, 200.00, 1200.00, 100.00, 900.00,
        400.00, 2500.00, 300.00, 1800.00, 150.00,
        1000.00, 350.00, 2200.00, 500.00, 1700.00
    ]
}
df = pd.DataFrame(data, index = data["Date"])
df

                  Date      Type  Amount
2025-01-05  2025-01-05   Deposit  1500.0
2025-01-10  2025-01-10  Withdraw   200.0
2025-01-15  2025-01-15   Deposit  1200.0
2025-01-18  2025-01-18  Withdraw   100.0
2025-01-22  2025-01-22   Deposit   900.0
2025-01-25  2025-01-25  Withdraw   400.0
2025-02-01  2025-02-01   Deposit  2500.0
2025-02-07  2025-02-07  Withdraw   300.0
2025-02-10  2025-02-10   Deposit  1800.0
2025-02-14  2025-02-14  Withdraw   150.0
2025-02-20  2025-02-20   Deposit  1000.0
2025-02-23  2025-02-23  Withdraw   350.0
2025-02-27  2025-02-27   Deposit  2200.0
2025-03-02  2025-03-02  Withdraw   500.0
2025-03-05  2025-03-05   Deposit  1700.0

In [11]:
largest_transaction = df.groupby("Type")["Amount"].max()
print(largest_transaction)

Type
Deposit     2500.0
Withdraw     500.0
Name: Amount, dtype: float64

In [21]:
total_transaction_type = df.groupby("Type").size()
print(total_transaction_type)

Type
Deposit     8
Withdraw    7
dtype: int64

In [38]:
df ["Signed Amount"] = df.apply(
                    lambda row: row["Amount"] if row["Type"] == "Deposit" else -row["Amount"],
                    axis = 1)
df["Balance"] = df["Signed Amount"].cumsum()
print(df[["Type", "Amount", "Balance"]])

                Type  Amount  Balance
2025-01-05   Deposit  1500.0   1500.0
2025-01-10  Withdraw   200.0   1300.0
2025-01-15   Deposit  1200.0   2500.0
2025-01-18  Withdraw   100.0   2400.0
2025-01-22   Deposit   900.0   3300.0
2025-01-25  Withdraw   400.0   2900.0
2025-02-01   Deposit  2500.0   5400.0
2025-02-07  Withdraw   300.0   5100.0
2025-02-10   Deposit  1800.0   6900.0
2025-02-14  Withdraw   150.0   6750.0
2025-02-20   Deposit  1000.0   7750.0
2025-02-23  Withdraw   350.0   7400.0
2025-02-27   Deposit  2200.0   9600.0
2025-03-02  Withdraw   500.0   9100.0
2025-03-05   Deposit  1700.0  10800.0

In [44]:
low_balance = df[df["Balance"] < 4000]["Balance"]
print(low_balance)

2025-01-05    1500.0
2025-01-10    1300.0
2025-01-15    2500.0
2025-01-18    2400.0
2025-01-22    3300.0
2025-01-25    2900.0
Name: Balance, dtype: float64