In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "Date": pd.date_range(start="2025-10-01", periods=25, freq="D"),
    "Category": [
        "Groceries", "Rent", "Transport", "Entertainment", "Utilities",
        "Dining Out", "Groceries", "Rent", "Transport", "Healthcare",
        "Entertainment", "Groceries", "Rent", "Dining Out", "Subscriptions",
        "Transport", "Groceries", "Utilities", "Entertainment", "Rent",
        "Dining Out", "Transport", "Groceries", "Healthcare", "Subscriptions"
    ],
    "Amount": [
        120.45, 1500.00, 45.60, 75.20, 200.00,
        60.75, 130.10, 1500.00, 42.50, 90.00,
        100.00, 125.30, 1500.00, 55.80, 12.99,
        38.40, 110.25, 210.00, 80.50, 1500.00,
        62.00, 40.10, 95.25, 85.75, 14.99
    ],
    "Paid_By": [
        "Patrick", "Alex", "Jordan", "Patrick", "Casey",
        "Alex", "Jordan", "Patrick", "Casey", "Alex",
        "Jordan", "Patrick", "Casey", "Alex", "Jordan",
        "Patrick", "Casey", "Alex", "Jordan", "Patrick",
        "Casey", "Alex", "Jordan", "Patrick", "Casey"
    ]
}
df = pd.DataFrame(data)
print(df)

         Date       Category   Amount  Paid_By
0  2025-10-01      Groceries   120.45  Patrick
1  2025-10-02           Rent  1500.00     Alex
2  2025-10-03      Transport    45.60   Jordan
3  2025-10-04  Entertainment    75.20  Patrick
4  2025-10-05      Utilities   200.00    Casey
5  2025-10-06     Dining Out    60.75     Alex
6  2025-10-07      Groceries   130.10   Jordan
7  2025-10-08           Rent  1500.00  Patrick
8  2025-10-09      Transport    42.50    Casey
9  2025-10-10     Healthcare    90.00     Alex
10 2025-10-11  Entertainment   100.00   Jordan
11 2025-10-12      Groceries   125.30  Patrick
12 2025-10-13           Rent  1500.00    Casey
13 2025-10-14     Dining Out    55.80     Alex
14 2025-10-15  Subscriptions    12.99   Jordan
15 2025-10-16      Transport    38.40  Patrick
16 2025-10-17      Groceries   110.25    Casey
17 2025-10-18      Utilities   210.00     Alex
18 2025-10-19  Entertainment    80.50   Jordan
19 2025-10-20           Rent  1500.00  Patrick
20 2025-10-21     Dining Out    62.00    Casey
21 2025-10-22      Transport    40.10     Alex
22 2025-10-23      Groceries    95.25   Jordan
23 2025-10-24     Healthcare    85.75  Patrick
24 2025-10-25  Subscriptions    14.99    Casey

In [3]:
spent_by_category = df.groupby("Category")["Amount"].sum()
print(spent_by_category)

Category
Dining Out        178.55
Entertainment     255.70
Groceries         581.35
Healthcare        175.75
Rent             6000.00
Subscriptions      27.98
Transport         166.60
Utilities         410.00
Name: Amount, dtype: float64

In [4]:
spent_by_person = df.groupby("Paid_By")["Amount"].sum()
print(spent_by_person)

Paid_By
Alex       1956.65
Casey      1929.74
Jordan      464.44
Patrick    3445.10
Name: Amount, dtype: float64

In [5]:
avg_spent_by_person = spent_by_person.mean()
print(avg_spent_by_person)

1948.9825

In [6]:
balance = spent_by_person - avg_spent_by_person
print(round(balance, 2))

Paid_By
Alex          7.67
Casey       -19.24
Jordan    -1484.54
Patrick    1496.12
Name: Amount, dtype: float64

In [7]:
creditors = balance > 0
debitors = balance < 0

In [8]:
avg_spending = df["Amount"].mean()
above_avg_spending = df[df["Amount"] > avg_spending][["Amount", "Category"]]
print(above_avg_spending)

    Amount Category
1   1500.0     Rent
7   1500.0     Rent
12  1500.0     Rent
19  1500.0     Rent