In [1]:
import pandas as pd
import numpy as np
import os

In [9]:
data = [100, 101, 102, 200, 300, 400]
series = pd.Series(data, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(series[series == 200])

d    200
dtype: int64

In [18]:
data = {
    "Name" : ["Me", "Myself", "I"],
    "Age" : [21, 100, 100]
    }

df = pd.DataFrame(data, index = ["fall_arc", "late_fall", "early_winter"])

df["position"] = ["Get better body", "Get better in coding", "Get better in communication"]
new_df = pd.DataFrame([{"Name" : "Winter", "Age" : 21, "position": "Complete package"}], index =["final arc"] )
df = pd.concat([df, new_df])
print(df)

                Name  Age                     position
fall_arc          Me   21              Get better body
late_fall     Myself  100         Get better in coding
early_winter       I  100  Get better in communication
final arc     Winter   21             Complete package

In [24]:
df = pd.read_csv("data.csv")

print(df)

          STATION                     NAME        DATE  PRCP  SNWD  TMAX  TMIN
0     CA006158665  TORONTO ISLAND A, ON CA  01/01/2000  0.02   NaN  46.0  32.0
1     CA006158665  TORONTO ISLAND A, ON CA  02/01/2000  0.06   NaN  53.0  35.0
2     CA006158665  TORONTO ISLAND A, ON CA  03/01/2000  0.14   NaN  52.0  31.0
3     CA006158665  TORONTO ISLAND A, ON CA  04/01/2000  0.02   NaN  49.0  24.0
4     CA006158665  TORONTO ISLAND A, ON CA  05/01/2000   NaN   NaN  29.0  19.0
...           ...                      ...         ...   ...   ...   ...   ...
2268  CA006158665  TORONTO ISLAND A, ON CA  27/03/2006  0.00   NaN  51.0  32.0
2269  CA006158665  TORONTO ISLAND A, ON CA  28/03/2006  0.00   NaN  48.0  31.0
2270  CA006158665  TORONTO ISLAND A, ON CA  29/03/2006  0.00   NaN  53.0  32.0
2271  CA006158665  TORONTO ISLAND A, ON CA  30/03/2006  0.00   NaN  52.0  34.0
2272  CA006158665  TORONTO ISLAND A, ON CA  31/03/2006  0.10   NaN  52.0  41.0

[2273 rows x 7 columns]

In [29]:
df = pd.read_csv("data.csv", index_col = "DATE")

print(df.loc["27/03/2006"])

STATION                CA006158665
NAME       TORONTO ISLAND A, ON CA
PRCP                           0.0
SNWD                           NaN
TMAX                          51.0
TMIN                          32.0
Name: 27/03/2006, dtype: object

In [33]:
df = pd.read_csv("data.csv")

tmax_above50 = df[df["TMAX"] > 50]

print(tmax_above50)

          STATION                     NAME        DATE  PRCP  SNWD  TMAX  TMIN
1     CA006158665  TORONTO ISLAND A, ON CA  02/01/2000  0.06   NaN  53.0  35.0
2     CA006158665  TORONTO ISLAND A, ON CA  03/01/2000  0.14   NaN  52.0  31.0
57    CA006158665  TORONTO ISLAND A, ON CA  27/02/2000  0.00   NaN  51.0  40.0
67    CA006158665  TORONTO ISLAND A, ON CA  08/03/2000  0.02   NaN  60.0  34.0
68    CA006158665  TORONTO ISLAND A, ON CA  09/03/2000  0.02   NaN  60.0  27.0
...           ...                      ...         ...   ...   ...   ...   ...
2253  CA006158665  TORONTO ISLAND A, ON CA  12/03/2006  0.06   NaN  58.0  38.0
2268  CA006158665  TORONTO ISLAND A, ON CA  27/03/2006  0.00   NaN  51.0  32.0
2270  CA006158665  TORONTO ISLAND A, ON CA  29/03/2006  0.00   NaN  53.0  32.0
2271  CA006158665  TORONTO ISLAND A, ON CA  30/03/2006  0.00   NaN  52.0  34.0
2272  CA006158665  TORONTO ISLAND A, ON CA  31/03/2006  0.10   NaN  52.0  41.0

[1216 rows x 7 columns]