In [2]:
import pandas as pd

In [3]:
data = {"Date" : ["1st feb", "2nd feb", "3rd feb", "4th feb"],
                "Account": ["Savings","Chequing", "Chequing","Savings"],
                "Transaction_type": ["Deposit", "Withdrawal","Deposit", "Withdrawal"],
                "Amount": [500, -150, 300, -100]}

df = pd.DataFrame(data)
print(df)

      Date   Account Transaction_type  Amount
0  1st feb   Savings          Deposit     500
1  2nd feb  Chequing       Withdrawal    -150
2  3rd feb  Chequing          Deposit     300
3  4th feb   Savings       Withdrawal    -100

In [4]:
df.loc[4] = {"Date": "5th feb",
                    "Account": "Chequing",
                    "Transaction_type": "Deposit",
                    "Amount": 250}
print(df)

      Date   Account Transaction_type  Amount
0  1st feb   Savings          Deposit     500
1  2nd feb  Chequing       Withdrawal    -150
2  3rd feb  Chequing          Deposit     300
3  4th feb   Savings       Withdrawal    -100
4  5th feb  Chequing          Deposit     250

In [9]:
total_amount = df["Amount"].sum()
print(total_amount)

800

In [10]:
amount_bygroup = df.groupby("Account")["Amount"].sum()
print(amount_bygroup)

Account
Chequing    400
Savings     400
Name: Amount, dtype: int64

In [11]:
max_transaction = df["Amount"].max()
print(max_transaction)

500